<!doctypehhtml>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body{
        background:;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <form action="/login" method="post">
        <label for="user">Username or mail:</label>
        <br />
        <input type="text" required name="user" />
        <br />
        <label for="password">Enter your password:</label>
        <br />
        <input type="password" required name="pass" id="pass"/>
        <button type="button" id="show">Show</button
        <br />
        <br />
        <button type="submit" name="action" value="loginInto">Login</button>
      </form>
    </div>
    
    {% if fake == False %}
      <div>
        <p>Something wrong</p>
        
      </div>
    {% endif%}

  </body>
  <script>
      const pass = document.getElementById('pass');
      const show = document.getElementById('show');

      show.addEventListener("click", () => {
        if (pass.type == "password"){
          pass.type = "text";
        }else if(pass.type == "text"){
          pass.type="password";
        }
      });
  </script>
</html>
