<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/login" method="post">
        <label for="user">Username or mail:</label>
        <br />
        <input type="text" required name="user" />
        <br />
        <label for="password">Enter your password:</label>
        <br />
        <input type="password" required name="pass" />
        <br />
        <br />
        <button type="submit" name="action" value="loginInto">Login</button>
      </form>
    </div>
  </body>
</html>
