<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PP Menu</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/menustyles.css')}}">
</head>
<body>
  <div class="menu-maininterface">
    <div class="Texto">
      <p>Bienvenido, presione start para comenzar</p>
    </div>
    <div class="button" id="startbtn-div">
     <button type="submit" id="startbtn-menu">Start</button> 
    </div>
  </div>
</body>
</html>
